@import "tailwindcss";

/* :root {
  --color-base: #ffffff;
  --color-n100: #f2f2f2;
  --color-n200: #e6e6e6;
  --color-n300: #b5b5b5;
  --color-n400: #6c6c6c;
  --color-n500: #171717;
} */

@theme inline {
  --color-background: var(--color-base);
  --color-foreground: var(--color-n500);
  --font-sans: var(--font-albert);
}

@theme {
  --color-base: #ffffff;
  --color-n100: #f2f2f2;
  --color-n200: #e6e6e6;
  --color-n300: #b5b5b5;
  --color-n400: #6c6c6c;
  --color-n500: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-n500: #0a0a0a;
    --color-base: #ededed;
  }
}

@layer components {
  /* Color font */
  .typography-base {
    color: var(--color-base);
  }

  .typography-dark {
    color: var(--color-n500);
  }
}

@layer utilities {
  /* Size font */
  .text-h1-xl {
    font-size: 70px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }

  .text-h1-l {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 500;
    letter-spacing: -0.04em;
  }

  .text-h1-m {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 500;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }

  .text-h1 {
    font-size: 52px;
    line-height: 1.1;
    font-weight: 500;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }

  .text-h2 {
    font-size: 26px;
    line-height: 1.1;
    font-weight: 500;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }

  .text-h3 {
    font-size: 32px;
    line-height: 1.1;
    font-weight: 500;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }

  .text-h4 {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }

  .text-h5 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }

  .text-h6 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }

  .text-b1 {
    font-size: 18px;
    line-height: 1.3;
    font-weight: 400;
  }

  .text-b2 {
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
  }

  .text-btn {
    font-size: 14px;
    line-height: 1.3;
    font-weight: 500;
  }

  .text-btn2 {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
    text-transform: uppercase;
  }

  .text-btn3 {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 600;
    text-transform: uppercase;
  }

  .container-custom {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
  }

  /* Padding Section */
  .section-padding {
    padding-inline: 30px;
  }

  @media (min-width: 640px) {
    .section-padding {
      padding-inline: 40px;
    }
    .text-h1-xl {
      font-size: 80px;
    }
    .text-h1-l {
      font-size: 80px;
    }
    .text-h1-m {
      font-size: 50px;
    }
    .text-h2 {
      font-size: 36px;
    }
  }

  @media (min-width: 768px) {
    .section-padding {
      padding-inline: 60px;
    }
    .text-h1-xl {
      font-size: 85px;
    }
    .text-h1-l {
      font-size: 100px;
    }
    .text-h1-m {
      font-size: 55px;
    }
  }

  @media (min-width: 1024px) {
    .text-h1-xl {
      font-size: 142px;
    }
    .text-h1-l {
      font-size: 100px;
    }
    .text-h1-m {
      font-size: 90px;
    }
    .text-h2 {
      font-size: 40px;
    }
  }
}

body {
  background-color: var(--color-base);
  color: var(--color-n500);
  font-family: var(--font-albert);
}
